
#register {
	background: #28B8A7;
	width: 350px;
	margin: 0 auto;

}

label[for=UserUsername] {
	padding-top: 10px;
}

#register .input {
	background: #28B8A7;
	text-align: center;
	padding-bottom: 20px;

}

#register .input label {
	display: block;
	text-align: center;
	padding-bottom: 2px;
}

#register .input input {
	text-align: center;
	width: 280px;
	margin: 5px;
}

.recaptcha {
	position: relative;
	left: 15px;
}

#UserRegisterForm .submit {
	text-align: center;
	padding:15px 0;

}

#UserRegisterForm .submit input {
	border: none;
	width: 100px;
	height: 40px;

}

.error {

}

.error-message {

}


/* 

red = background: #D74B4B;
green = 	background: #28B8A7;

*/