#settings {
	background: #28B8A7;
	width: 320px;
	margin: 0 auto;
}

#settings h1 {
	text-align: center;
	padding-top: 5px;
}

#settings #UserSettingsForm {
	width: 300px;
	margin: 0 auto;
}

#settings #ChangeEmail {

}

#settings label {
	float: left;
	display: block;
	text-align: right;
	width: 100px;
}

#settings input {
	float: left;
	width: 150px;

}

#settings input, label {
	margin: 5px;
}



#settings #Changepassword {

} 

#settings #Changepassword h3, #ClearReminders h3 {
	padding-top: 15px;
}

#settings h3 {
	text-align: left;
	clear: both;
	padding: 5px 0px;
	padding-left: 10px;
	border-bottom: 2px black solid;
	border-spacing: 5px;
}

#settings #ClearReminders {
	clear: both;
}

#settings #ClearReminders p {
	display: inline-block;
}

#settings #UserClearAll {

}

#settings .submit {
	clear: both;
}

#settings .input {

}

#settings .password {

}

#settings  #UserClearAll {

}

