/* line 1, ../sass/main.scss */
#header {
  margin-top: 20px;
}

/* line 2, ../sass/main.scss */
#page-container {
  margin-bottom: 20px;
}

/* line 3, ../sass/main.scss */
#url-rewriting-warning {
  display: none;
}

/* line 5, ../sass/main.scss */
html > body > div#main-container > div#content.container > section#login_view > form#UserLoginForm.form-horizontal > div.form-group > label.col-sm-offset-3.col-sm-2.control-label {
  padding-top: 5px;
}
