#login_view {
  h2 {
    @include respond-to(tablet-portrait) {
      padding-left: 0px;
    }
  }

}

#register_view {
  h2 {
    @include respond-to(tablet-portrait) {
      padding-left: 0px;
    }
  }
}

#send_reset_email {
  h2 {
    @include respond-to(tablet-portrait) {
      padding-left: 0px;
    }
  }
}

#reset_password_view {
  h2 {
    @include respond-to(tablet-portrait) {
      position:relative;
      right:10px;
    }
  }
}

#settings_view {
  h2 {
    @include respond-to(tablet-portrait) {
      position: relative;
      right: 10px;
    }
  }
}

#add_view {

  h2 {
    @include respond-to(tablet-portrait) {
      padding-left: 0px;
    }
  }
}
