#get {
	color: black;
}

#get ul li {
	width: 870px;
	padding:15px;
	margin-bottom: 15px;
	background: #28B8A7;
}

#get ul li p, h2 {
	display: inline;
	padding:0 10px;
}

#get ul li h2 {
	border-right: 2px solid black;
}

#edit-options form  {
	color:white;
	float: right;
}

#date, #time {
	float: right;
	border-left: 2px solid black;
}

#get #date {
	border-left: 2px solid black;
}

#get input[type="submit"] {
	border:none;
}

#flashMessage {
	text-align: center;
	position: relative;
	bottom: 7px;
}

#get #edit-options {
	float: right;
	display: inline-block;
}

#get a {
	color: black;
	background: white;
	padding: 3px 5px;
	margin: 2px;
}

#get a:hover {
	background: #00909b;
}

#get #moreBody {
	padding-left: 0px;
}