/* line 3, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
#mainLogo {
  width: 150px;
}

/* line 7, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
.navbar-brand {
  padding: 5px;
  padding-left: 14px;
}

/* line 12, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
body {
  padding-top: 50px;
}
/* line 15, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
body #title {
  font-weight: 700;
}
/* line 21, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
body ul li a:hover {
  color: #962418 !important;
}
/* line 27, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
body footer {
  color: #fdf2d8;
  background: #e75849;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
/* line 35, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
body footer #footer p {
  padding: 5px 0px;
  text-align: center;
  margin: 0px;
  color: white;
}
/* line 42, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
body footer #footer a {
  color: white;
}
/* line 45, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
body footer #footer a:hover {
  text-decoration: none;
  color: white;
}

/* line 53, ../../../sass/layout_styles/default_view_styles/default_view_styles.scss */
#flashMessage {
  text-align: center;
  margin: 10px;
}
